div(class="container footer__container")

    div(class="footer__auth")
        a(class="title-name" href="/login") Авторизация
            <span class="title-name__doter">.</span>

    div(class="footer__social")

        ul(class="social")
            li(class="social__item")
                a(class="social__link" href="http://")
                    <i class="fab fa-linkedin-in"></i>
            li(class="social__item")
                a(class="social__link" href="http://")
                    <i class="fab fa-github-alt"></i>
            li(class="social__item")
                a(class="social__link" href="http://")
                    <i class="fab fa-tumblr"></i>
            li(class="social__item")
                a(class="social__link" href="http://")
                    <i class="fab fa-vk"></i>


<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>