div.container.header__container
    div.header__top
        a(class='title-name' href='/') Qwerty

        div.header__social
            a(class='link' href='/') index
            |
            |
            a(class='link' href='/login/') login
            |
            |
            a(class='link' href='/admin/') admin

        div.header__social
            ul.social
                li.social__item
                    a(class="social__link" href="http://") <i class="fab fa-linkedin-in"></i>
                li.social__item
                    a(class="social__link" href="http://") <i class="fab fa-github-alt"></i>
                li.social__item
                    a(class="social__link" href="http://") <i class="fab fa-tumblr"></i>
                li.social__item
                    a(class="social__link" href="http://") <i class="fab fa-vk"></i>
